// font for heading
@font-face {
    font-family: headline;
    src: url(../font/FuturaPTHeavy.otf);
}

@mixin headline {
    font-family: headline;
}

// for normal text
@font-face {
    font-family: normaltext;
    src: url(../font/FuturaPTMedium.otf);
}

@mixin normaltext {
    font-family: normaltext;
}