@import '../../Sass/fonts.scss';
@import '../../Sass/color.scss';
.headings {
    @include headline;
    color: $textcolor;
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
}