@import '../../Sass/fonts.scss';
@import '../../Sass/color.scss';
.headings {
    @include headline;
    h1 {
        font-size: 28px;
        color: $textcolor;
        @include headline;
    }
    h2 {}
}