@import '../../Sass/fonts.scss';
@import '../../Sass/color.scss';
.headings {
    @include headline;
    color: $textcolor;
    margin-top: 150px;
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
}

.form {
    margin-top: 70px;
}

.Steps {
    font-size: 24px;
    @include normaltext;
}

.Form {
    background-color: wheat;
    // display: flex;
    // align-items: flex-start;
    // justify-content: flex-start;
    // align-self: flex-start;
    label {
        display: block;
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        align-self: flex-start;
    }
    .formInput {
        // display: block;
        outline: none;
        width: 30%;
        padding: 10px 0px 10px 15px;
    }
}