@import '../../Sass/fonts.scss';
@import '../../Sass/color.scss';
.headings {
    @include headline;
    color: $textcolor;
    margin-top: 150px;
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
}

.form {
    margin-top: 70px;
}

.Steps {
    font-size: 24px;
    @include normaltext;
}

.Form {
    label {
        display: block;
        formInput {
            // display: block;
        }
    }
}