@import '../../Sass/fonts.scss';
@import '../../Sass/color.scss';
.headings {
    @include headline;
    color: $textcolor;
    margin-top: 150px;
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
}

.Steps {
    @include normaltext;
    font-size: 24px;
    margin-top: 70px;
    text-transform: capitalize;
    color: $textcolor;
}

.form {
    margin-top: 70px;
    .Form {
        width: 500px;
        position: relative;
        margin: 0 auto;
        justify-content: center;
        label {
            @include normaltext;
            display: block;
            text-align: start;
            position: relative;
            font-size: 20px;
            color: $textcolor;
            left: 40px;
        }
        .formInput {
            @include normaltext;
            outline: none;
            padding: 10px 0px 10px 15px;
            margin-bottom: 40px;
            width: 400px;
            font-size: 20px;
        }
    }
}

.form .Form {
    position: relative;
}

.buttondiv button {
    text-transform: capitalize;
}

.buttondiv {
    margin-top: 30px;
    .nextbtn {
        width: 120px;
        height: 50px;
        border-radius: 10px;
        background-color: $btnBG;
        border: none;
        color: $textwhite;
        font-size: 20px;
        @include normaltext;
        position: relative;
        left: 140px;
    }
    .prevbtn {
        width: 120px;
        height: 50px;
        border-radius: 10px;
        background-color: $backColor;
        border: none;
        color: $textwhite;
        font-size: 20px;
        @include normaltext;
        position: relative;
        right: 140px;
    }
}

.radioGroup {
    grid-column: 1/ span 2;
    grid-row: 3/span 1;
    margin-left: 300px;
    color: $textcolor;
    position: relative;
    left: -300px;
    @include normaltext;
    .radioOptions {
        list-style: none;
        position: relative;
        left: 0px;
        li {
            position: relative;
            left: -40px;
            margin-bottom: 20px;
        }
    }
    h2 {
        margin-bottom: 20px;
        font-size: 20px;
    }
    label {
        font-size: 22px;
    }
}

.secondform {
    margin-top: 70px;
    margin-bottom: 100px;
    .Datepicker {
        .datepicker {
            @include normaltext;
            font-size: 20px;
            padding: 8px;
            text-align: center;
            background-color: $textcolor;
            color: $textwhite;
            border-radius: 10px;
        }
    }
    .Occupation {
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
        .selectRole {
            @include normaltext;
            font-size: 20px;
            padding: 8px 26px 8px 26px;
            text-align: center;
            background-color: $textcolor;
            color: $textwhite;
            border-radius: 10px;
            outline: none;
        }
    }
}

.colorPicker {
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.color {
    position: relative;
    left: 30px;
}

.BlockPicker {
    margin-top: 50px;
    position: relative;
    right: 60px;
}

.name {
    position: relative;
    @include normaltext;
    font-size: 30px;
    top: 270px;
}

.head {
    display: block;
    position: relative;
}

.upperhead {
    display: none;
    position: relative;
}