@import '../../Sass/fonts.scss';
@import '../../Sass/color.scss';
.headings {
    @include headline;
    color: $textcolor;
    margin-top: 150px;
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
}

.form {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 30rem));
}

.Steps {
    font-size: 24px;
    @include normaltext;
}

.Form {
    margin: 0 auto;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
    // grid-column: 2/ span 2;
    label {
        @include normaltext;
        display: block;
        text-align: start;
    }
    .formInput {
        @include normaltext;
        outline: none;
        width: 30%;
        padding: 10px 0px 10px 15px;
        display: block;
        width: 100%;
    }
}