    @import '../../Sass/fonts.scss';
    @import '../../Sass/color.scss';
    .headings {
        @include headline;
        color: $textcolor;
        margin-top: 150px;
        h1 {
            font-size: 28px;
        }
        h2 {
            font-size: 24px;
        }
    }
    
    .Steps {
        @include normaltext;
        font-size: 24px;
        margin-top: 70px;
        text-transform: capitalize;
        color: $textcolor;
    }
    
    .form {
        margin-top: 70px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 30rem));
        .Form {
            width: 500px;
            position: relative;
            margin: 0 auto;
            justify-content: center;
            label {
                @include normaltext;
                display: block;
                text-align: start;
                position: relative;
                font-size: 20px;
                color: $textcolor;
                left: 40px;
            }
            .formInput {
                @include normaltext;
                outline: none;
                padding: 10px 0px 10px 15px;
                margin-bottom: 40px;
                width: 400px;
                font-size: 20px;
            }
        }
    }
    
    .form .Form {
        grid-column: 1/ span 2;
        grid-row: 1/span 2;
        position: relative;
    }
    
    .buttondiv button {
        text-transform: capitalize;
    }
    
    .buttondiv {
        grid-column: 1/ span 2;
        grid-row: 4/span 2;
        margin-left: 300px;
    }
    
    .radioGroup {
        grid-column: 1/ span 2;
        grid-row: 3/span 1;
        margin-left: 300px;
        color: $textcolor;
        position: relative;
        left: -300px;
        @include normaltext;
        h2 {
            font-size: 20px;
        }
        label {
            font-size: 22px;
        }
    }
    
    .radioOptions {
        list-style: none;
        ul li: nth-child(1) {
            margin-bottom: 10px;
        }
    }
    
    .nextbtn {
        width: 120px;
        height: 50px;
        border-radius: 10px;
        background-color: $btnBG;
        border: none;
        color: $textwhite;
        font-size: 20px;
        @include normaltext;
    }