@import '../../Sass/fonts.scss';
@import '../../Sass/color.scss';
.headings {
    @include headline;
    color: $textcolor;
    margin-top: 150px;
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
}

.form {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 30rem));
}

.Steps {
    font-size: 24px;
    @include normaltext;
    margin-top: 70px;
}

.Form {
    margin: 0 auto;
    label {
        @include normaltext;
        display: block;
        text-align: start;
        font-size: 20px;
        color: $textcolor;
    }
    .formInput {
        @include normaltext;
        outline: none;
        padding: 10px 0px 10px 15px;
        width: 190%;
    }
}