@import '../../Sass/fonts.scss';
@import '../../Sass/color.scss';
.headings {
    @include headline;
    color: $textcolor;
    margin-top: 150px;
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
}

.Steps {
    font-size: 24px;
    @include normaltext;
    margin-top: 70px;
}

.form {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 30rem));
    .Form {
        margin: 0 auto;
        label {
            @include normaltext;
            display: block;
            text-align: start;
            font-size: 20px;
            color: $textcolor;
        }
        .formInput {
            @include normaltext;
            outline: none;
            padding: 10px 0px 10px 15px;
            margin-bottom: 40px;
            max-width: 502px;
        }
    }
}

.form .Form {
    // grid-column: 1/ span 1;
    // grid-row: 1/span 2;
    background-color: wheat;
}

.buttondiv {
    grid-column: 1/ span 1;
    grid-row: 4/span 2;
    background-color: rgb(195, 219, 255);
    display: flex;
    justify-content: flex-end;
}

.nextbtn {
    width: 120px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(94, 155, 245);
    border: none;
    color: white;
    font-size: 18px;
}