@font-face {
  font-family: headline;
  src: url(../font/FuturaPTHeavy.otf);
}

@font-face {
  font-family: normaltext;
  src: url(../font/FuturaPTMedium.otf);
}

.Characterbuilderform {
  margin-bottom: 250px;
}

.headings {
  font-family: headline;
  color: #302e2e;
  margin-top: 150px;
}

.headings h1 {
  font-size: 28px;
}

.headings h2 {
  font-size: 24px;
}

.Steps {
  font-family: normaltext;
  font-size: 24px;
  margin-top: 70px;
  text-transform: capitalize;
  color: #302e2e;
}

.form {
  margin-top: 70px;
}

.form .Form {
  width: 500px;
  position: relative;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form .Form label {
  font-family: normaltext;
  display: block;
  text-align: start;
  position: relative;
  font-size: 20px;
  color: #302e2e;
  left: 40px;
}

.form .Form .formInput {
  font-family: normaltext;
  outline: none;
  padding: 10px 0px 10px 15px;
  margin-bottom: 40px;
  width: 400px;
  font-size: 20px;
}

.form .Form {
  position: relative;
}

.buttondiv button {
  text-transform: capitalize;
}

.buttondiv .prevbtn, .prevbtntwo {
  width: 120px;
  height: 50px;
  border-radius: 10px;
  background-color: #902ca8;
  border: none;
  color: #e7e7e7;
  font-size: 20px;
  font-family: normaltext;
  position: relative;
  right: 140px;
}

.buttondiv {
  margin-top: 30px;
}

.buttondiv .nextbtn {
  width: 120px;
  height: 50px;
  border-radius: 10px;
  background-color: #5e9bf5;
  border: none;
  color: #e7e7e7;
  font-size: 20px;
  font-family: normaltext;
  position: relative;
  left: 140px;
}

.buttondiv .prevbtn {
  right: 140px;
}

.prevbtntwo {
  margin-top: 120px;
  right: 180px;
}

.radioGroup {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/ span 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/span 1;
  margin-left: 300px;
  color: #302e2e;
  position: relative;
  left: -300px;
  font-family: normaltext;
}

.radioGroup .radioOptions {
  list-style: none;
  position: relative;
  left: 0px;
}

.radioGroup .radioOptions li {
  position: relative;
  left: -40px;
  margin-bottom: 20px;
}

.radioGroup h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

.radioGroup label {
  font-size: 22px;
}

.secondform {
  margin-top: 130px;
  margin-bottom: 100px;
}

.secondform .Datepicker .datepicker {
  font-family: normaltext;
  font-size: 20px;
  padding: 8px;
  text-align: center;
  background-color: #302e2e;
  color: #e7e7e7;
  border-radius: 10px;
}

.secondform .Occupation {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.secondform .Occupation .selectRole {
  font-family: normaltext;
  font-size: 20px;
  padding: 8px 26px 8px 26px;
  text-align: center;
  background-color: #302e2e;
  color: #e7e7e7;
  border-radius: 10px;
  outline: none;
}

.colorPicker {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.color {
  position: relative;
  left: 30px;
}

.BlockPicker {
  margin-top: 50px;
  position: relative;
  right: 60px;
}

.name {
  position: relative;
  font-family: normaltext;
  font-size: 30px;
  top: 270px;
}

.bodyParts {
  margin: 0 auto;
}

.headWrapper {
  position: relative;
  left: -8px;
  top: 10px;
}

.pantsWrapper {
  margin: 0 auto;
  width: 190px;
  height: 190px;
  position: relative;
  left: 18px;
  bottom: 60px;
}

.pants {
  color: aqua;
  background-color: aqua;
  fill: aqua;
}
/*# sourceMappingURL=characterbuilderform.css.map */